<nav class="navbar navbar-expand-lg navbar-light bg-light header-bcolor">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" class="nav-fcolor">ನಳೀಲು ಶ್ರೀ ಸುಬ್ರಹ್ಮಣ್ಯ ದೇವಸ್ಥಾನ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >ಮುಖಪುಟ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu" routerLinkActive="active-link">ಬ್ರಹ್ಮಕಲಶೋತ್ಸವ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">ನಮ್ಮ ಬಗ್ಗೆ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active-link">ಸಂಪರ್ಕ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>