.navbar-light .navbar-nav .nav-link{
    color: #ffff;
}
.navbar-light .navbar-nav .nav-link.active-link{
    color: var(--primary-color);
    text-decoration: underline;
}

.navbar-toggler {
    color: #ffff;
    border-color:  #ffff;
  }

.header-bcolor {
    background: #f26d52!important;
  }

.nav-fcolor {
    color: #ffff;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    font-family: 'Baloo Tamma', cursive;
}