<div class="container mt-5 mb-5">

    <h1 class="text-center">ನಮ್ಮ ಬಗ್ಗೆ</h1>

    <p>
        ಮಲೆ ಮಾಡಾವಿನಿಂದ ಮಣಿಕ್ಕಾರದವರೆಗೆ ಹಬ್ಬಿರುವ ಪಾಲ್ತಾಡು ಎಂಬ ಊರಿನಲ್ಲಿ ನಳೀಲು ಇರುವ ಪ್ರದೇಶಕ್ಕೆ ಸಾವಿರ ವರ್ಷಗಳ ಇತಿಹಾಸವಿದ್ದು, ಪೂರ್ವಜರು ಇಲ್ಲಿ ಗುಹೆಯ ರೂಪದಲ್ಲಿದ್ದ ಸ್ಥಳದಲ್ಲಿ ಸುಬ್ರಹ್ಮಣ್ಯ ದೇವರನ್ನು ಆರಾಧಿಸುತ್ತಾ ಬರುತ್ತಿದ್ದರು.
         ಇಲ್ಲಿ ಹುತ್ತದ ರೂಪದಲ್ಲಿ ನೆಲೆ ನಿಂತ ಸುಬ್ರಹ್ಮಣ್ಯನಿಗೆ ದಿನನಿತ್ಯ ಅರ್ಚಕರು ಪೂಜೆ ಸಲ್ಲಿಸುತ್ತಾರೆ. ಅದಕ್ಕೆ ಪುಷ್ಠಿ ನೀಡುವಂತೆ ಆಗಾಗ ನಾಗ ಪ್ರತ್ಯಕ್ಷನಾಗಿ ಅಲ್ಲಲ್ಲಿ ಕಾಣಿಸಿಕೊಳ್ಳುತ್ತಾನೆ. ಆಳೆತ್ತರಕ್ಕೆ ನಿಂತ ವಲ್ಮೀಕವು ಕೆಲವೊಮ್ಮೆ ಪವಾಡದಂತೆ ಕುಬ್ಜಗೊಳ್ಳುವುದೂ ಇದೆ. 
        <br/>
        ಈಲ್ಲಿ ದೇವಸ್ಥಾನಕ್ಕೆ ತನ್ನದೇ ವಿಶೇಷ ಕಾರಣಿಕ ಇದೆ. ಸಂತಾನ ಭಾಗ್ಯವಿಲ್ಲದವರಿಗೆ ಸಂತಾನ ಭಾಗ್ಯ, ವಿವಾಹ ಆಗದವರಿಗೆ ಕಂಕಣ ಭಾಗ್ಯ, ಶನಿದೋಷ ನಿವಾರಣೆ, ಸರ್ಪದೋಷ ನಿವಾರಣೆಗಾಗಿ ಅಧಿಕ ಸಂಖ್ಯೆಯಲ್ಲಿ ಪ್ರಾರ್ಥಿಸಿ, ಪೂಜೆ ಮಾಡಿಸಿಕೊಂಡು ದೇವರ ಅನುಗ್ರಹ ಪಡೆಯುತ್ತಾರೆ. ಸುಬ್ರಹ್ಮಣ್ಯ ದೇವರು ನಂಬಿದವರನ್ನು ಕೈ ಬಿಡುವುದಿಲ್ಲ ಎನ್ನುವುದು ಭಕ್ತರ ನಂಬಿಕೆ.
        <br/>
    </p>

</div>